:root {
    --white: #fff;
    --light-gray: #F9F9F9;
    --dark-gray-primary: #3A3A3A;
    --dark-gray-secondary: #2A2A2A;
    --default-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.25);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color:var(--light-gray);
}

h1 {
    font-size: 1.5em;
}

p {
    font-size: 1em;
}

textarea {
    resize: none;
}

.window-container {
    display: flex;
    border: 1px solid red;
    min-width: 900px;
    margin: 0 auto;
}

/* General Layout: Main Container and Sidebar */
.main-container {
    width: 70%;
    background-color: var(--white);
}

.sidebar-container {
    background-color: var(--dark-gray-primary);
    color: var(--white);
    width: 30%;
}

/*header segment*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    margin-bottom: 1em;
    box-shadow: var(--default-box-shadow)
}

.title-container {
    display: flex;
    flex-direction: column;
}

.insights-btn-container {
}

.btn-view-insight {
    padding: 1em 2em;
    font-size: 100%;
    box-shadow: var(--default-box-shadow);
}

/* Main Segment */

main {
    padding: 1em 2em;
}

/* Main: Form Input & Button */
.form-container {
    display: flex;
    gap: 1em;
    margin-bottom: 2em;
    align-items: center;
}

.form-container textarea {
    width: 100%;
    border-radius: 10px;
    padding: 0.3em 1em;
    border: 0px;
    box-shadow: var(--default-box-shadow);
}

.form-container button {
    padding: 1em 2em;
    box-shadow: var(--default-box-shadow);
}

/* Main: Profane Words Entries */
.profane-item-container {
    display: flex;
    flex-direction: column-reverse;
    gap: 1em;
}

.message-item {
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: var(--default-box-shadow);
    display: flex;
    flex-direction: column;
    padding: 1em 1em;
}

.message-item h1, p {
    text-align: left;
}


